@import 'global';

.item-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;

  input {
    @include custom-checkbox();
  }

  .item__description {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 2;
    word-break: break-all;

    &.item__description--checked {
      color: $primary-color;
    }
  }
}
